requests==2.7.0
Django==1.9
py==1.4.30
pytest==2.8.0
pytest-django==2.8.0
djangorestframework==3.2.4
Markdown==2.6.2
django-filter==0.11.0
-e git://github.com/enkore/django-rest-auth.git@UnignoreMoFiles#egg=django-rest-auth
django-allauth==0.24.1
django-prometheus==1.0.5
django-cors-middleware==1.2.0
django-axes==1.6.0
django-redis-cache==1.6.5
hiredis==0.2.0
pytest-mock==0.11.0
pytest-flake8>=0.5
psycopg2==2.6.1
invoke==0.13.0
pprintpp==0.2.3
django-nested-admin==3.0.8
