<!DOCTYPE html>
<html lang="en">
<body>
    Danke, dass Sie sich für Qabel entschieden haben.
    Bitte klicken Sie auf den nachfolgenden Link, um die Registrierung Ihres Qabel Accounts abzuschließen.
    <a href="{{ activate_url }}">Aktivierungslink</a>
    Viel Spaß beim Testen, wir freuen uns auf Ihr Feedback!
    Hier finden Sie weitere Infos über Qabel.
    <a href="https://qabel.de/de">qabel.de</a>


    Thank you for choosing Qabel.
    Please click on the link below to complete the registration of your Qabel account.
    <a href="{{ activate_url }}">Activation link</a>
    Enjoy testing Qabel! We’re looking forward to your feedback.
    For further information regarding Qabel, please visit
    <a href="https://qabel.de/en">qabel.de</a>
</body>
</html>