<!DOCTYPE html>
<html lang="en">
<body>
    <p>English version below.</p>
    <p>
    Danke, dass Sie sich für Qabel entschieden haben.<br/>
    Bitte klicken Sie auf den nachfolgenden Link, um die Registrierung Ihres Qabel Accounts abzuschließen.<br/>
    <a href="{{ activate_url }}">Aktivierungslink</a><br/>
    Viel Spaß beim Testen, wir freuen uns auf Ihr Feedback!</p>
    <p>Wenn sie sich nicht bei Qabel angemeldet haben, dann ignorieren sie diese Mail bitte.</p>
    <p>
    Hier finden Sie weitere Infos über Qabel.<br/>
    <a href="https://qabel.de/de">qabel.de</a></p>


    <p>
    Thank you for choosing Qabel.<br/>
    Please click on the link below to complete the registration of your Qabel account.<br/>
    <a href="{{ activate_url }}">Activation link</a><br/>
    Enjoy testing Qabel! We’re looking forward to your feedback.</p>
    <p>If you did not sign up for Qabel, please ignore this mail.</p>
    <p>
    For further information regarding Qabel, please visit<br/>
    <a href="https://qabel.de/en">qabel.de</a></p>
<p>
Qabel GmbH
Goseriede 4 / Tiedthof  .  30159 Hannover
Registergericht: Amtsgericht Hannover  .  HRB 210757
USt-IdNr.: DE293570022
Geschäftsführer: Peter Leppelt, Benjamin Schuetze
</p>
</body>
</html>