<!DOCTYPE html>
<html lang="en">
<body>
    <p>English version below.</p>
    <p>
    Danke, dass Sie sich für Qabel entschieden haben.<br/>
    Bitte klicken Sie auf den nachfolgenden Link, um die Registrierung Ihres Qabel Accounts abzuschließen.<br/>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Aktivierungslink</a><br/>
    Ihr Qabel Benutzername ist {{ user.get_username }}<br/>
    Viel Spaß beim Testen, wir freuen uns auf Ihr Feedback!</p>
    <p>Wenn sie sich nicht bei Qabel angemeldet haben, dann ignorieren sie diese Mail bitte, oder schreiben Sie uns einen Hinweis an abuse@qabel.de</p>
    <p>
    Hier finden Sie weitere Infos über Qabel.<br/>
    <a href="https://qabel.de/de">qabel.de</a></p>


    <p>
    Thank you for choosing Qabel.<br/>
    Please click on the link below to complete the registration of your Qabel account, or make us aware of this by sending a mail to abuse@qabel.de<br/>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Activation link</a><br/>
    Your Qabel username is {{ user.get_username }}<br/>
    Enjoy testing Qabel! We’re looking forward to your feedback.</p>
    <p>If you did not sign up for Qabel, please ignore this mail.</p>
    <p>
    For further information regarding Qabel, please visit<br/>
    <a href="https://qabel.de/en">qabel.de</a></p>
<p>
Qabel GmbH
Goseriede 4 / Tiedthof  .  30159 Hannover
Registergericht: Amtsgericht Hannover  .  HRB 210757
USt-IdNr.: DE293570022
Geschäftsführer: Peter Leppelt, Benjamin Schuetze
</p>
</body>
</html>
