{% extends "accounting.html" %}
{% load i18n bootstrap %}

{% block title %}{{ title }}{{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if validlink %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <legend>
                {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
            </legend>

            {{ form|bootstrap_horizontal }}

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
              </div>
            </div>
        </form>
    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
