{% extends "accounting.html" %}
{% load i18n bootstrap %}

{% block title %}{{ title }}{{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <legend>

        </legend>

        {{ form|bootstrap_horizontal }}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" class="btn btn-primary" value="{% trans 'Save changes' %}">
          </div>
        </div>
    </form>
{% endblock %}
